
.login-button,
.logout-button {
    background-color: transparent;
    border: none;
    font-size:1.2rem;
    color: var(--text-muted);
}

    .login-button,
    .logout-button:hover {
        cursor: pointer;
        color: var(--primary-hover);
    }

/* Default Blazor error UI styles */
#blazor-error-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fafafa;
    color: #333;
    z-index: 1000;
    padding: 0.6rem 1.25rem;
    box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    display: none;
}

    #blazor-error-ui .dismiss {
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        cursor: pointer;
    }

    #blazor-error-ui .reload {
        text-decoration: none;
    }

    #blazor-error-ui.show {
        display: block;
    }
